/* Global CSS */
body, html{
/* background-color:#1d1d1d;  */
background: rgb(42,42,42);
background: -moz-linear-gradient(204deg, rgba(42,42,42,1) 0%, rgba(17,17,17,1) 100%);
background: -webkit-linear-gradient(204deg, rgba(42,42,42,1) 0%, rgba(17,17,17,1) 100%);
background: linear-gradient(204deg, rgba(42,42,42,1) 0%, rgba(17,17,17,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2a2a2a",endColorstr="#111111",GradientType=1);
font-family: 'Montserrat', sans-serif;
font-size: 14px;
line-height: 1.8;
font-weight: 400;
background-size: cover;
background-repeat: no-repeat;
}
h1, h2, h3, h4, h5, h6 {
    color: #f1f1f1;
}
a, p{
    color: #d1d1d1;
}
.hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.09); 
}
.bg-secondary{
    background-color: #2E90A6 !important;
}
.bgSize-auto{
    background-size: auto !important;
}
.bgPos-right{
    background-position: right !important;
}
.bgPos-bottom{
    background-position: bottom !important;
}
.bgPos-left{
    background-position: left !important;
}
.bgPos-top {
    background-position: top !important;
}
.div-clickable{
    width: 100%;
    height: 100%;
}
.text-bottom{
    align-self: flex-end;
}
.text-small{
    font-size: 12px;
}
.display-block
{
    display: block;
}
.w-fitContent{
    width: fit-content;
}
.w-10 {
    width: 10% !important; 
}
.w-15 {
    width: 15% !important; 
}
.mr-25{
    margin-right: 25% !important;
}
.ml-25{
    margin-left: 25% !important;
}
.neg-m{
    margin-top: -3%;
}
.lineHeight-40{
    line-height: 40px;
}
.text-indent{
    text-indent: 40px;
}

/* Navbar */
.nav-custom{
    background-color: #4a4a4a!important;
    /* z-index: 1; */
}
.fixed-top.scrolled {
    background-color: #4a4a4a!important;
    transition: background-color 500ms ease;
}
/* Header */
.header{
    overflow: hidden;
    /* margin: 0%; */
}
.headerBg {
    background-size: cover;
    background-repeat: no-repeat; 
    transform: scale(1.1);
}
@media (max-width: 1199.98px) {
    .headerBg {
        background-position: top center !important;
    } 
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(38,38,38);
    background: -moz-linear-gradient(180deg, rgba(38,38,38,0.9023984593837535) 0%, rgba(60,63,64,0) 50%);
    background: -webkit-linear-gradient(180deg, rgba(38,38,38,0.9023984593837535) 0%, rgba(60,63,64,0) 50%);
    background: linear-gradient(180deg, rgba(38,38,38,0.9023984593837535) 0%, rgba(60,63,64,0) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#262626",endColorstr="#3c3f40",GradientType=1);
}
.headerSubject {
    width: 100%;
    top: auto !important;
}
.headerSubject img{
    text-align: center;
    margin: auto;
    display: block;
    height: auto;
    width: 360px;
}
.headerTitle {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    top: 35% !important;
    z-index: 0;
}

.headerTitle h1{
    font-weight: 700;
}

/* Text */
.heading-section h1{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Featured Projects */
.project-block {
    display: block;
    width: 100%;
    height: 400px;
    margin-bottom: 0;
    background-position: center;
    z-index: 0;
    position: relative; 
    overflow: hidden;
}
.project-block:hover{
    cursor: pointer;
}
.project-block:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #000;
    opacity: 0;
    z-index: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; 
}
@media (prefers-reduced-motion: reduce) {
    .project-block:after {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; 
    } 
}
.project-block .text span {
    color: rgba(255, 255, 255, 0.9);
 }
.project-block h2 {
    color: #fff;
    line-height: 1.2;
    font-size: 18px; 
}
.project-block h2 a {
    color: #fff; 
}
.project-block .desc {
    z-index: 1; 
}
.project-block .icon {
    position: absolute;
    /* top: 50%;
    right: 50%; */
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
    /* -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
    margin-top: -70px; */
    opacity: 0;
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s; 
}
.project-block:hover .icon
{
    color: #fff;
}
@media (prefers-reduced-motion: reduce) {
    .project-block .icon {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; 
    } 
}
.project-block:hover:after {
    opacity: .5; 
}
.project-block:hover .icon {
    opacity: 1; 
}
.project-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(38,38,38);
    background: -moz-linear-gradient(0deg, rgba(38,38,38,1) 0%, rgba(74,74,74,0.10407913165266103) 70%);
    background: -webkit-linear-gradient(0deg, rgba(38,38,38,1) 0%, rgba(74,74,74,0.10407913165266103) 70%);
    background: linear-gradient(0deg, rgba(38,38,38,1) 0%, rgba(74,74,74,0.10407913165266103) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#262626",endColorstr="#4a4a4a",GradientType=1);
}

/* Progress Bar */
.progressBar-height{
    height: 15px;
}
/* 
    ##Device = Larger desktop screens
    ##Screen = 2560px and up
*/
@media (max-width: 2560px) {
    .headerTitle h1{
        font-size: 250px;
    }
    .headerSubject img{
        width: 430px;
    }
    .headerSubject{
        bottom: -1%!important;
    }
}
/* 
    ##Device = Large Laptops, Desktops
    ##Screen = 1920px
*/
@media (max-width: 1920px) {
    .headerTitle h1{
        font-size: 120px;
    }
    .headerSubject{
        bottom: -2%!important;
    }
    .headerSubject img{
        width: 360px;
    }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = 1500px
*/
@media (max-width: 1500px) {
    .headerTitle h1{
        font-size: 100px;
    }
    .headerSubject{
        bottom: -2%!important;
    }
    .headerSubject img{
        width: 240px;
    }
    .heading-section h1{
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen =576px
*/
@media (max-width: 576px) {
    .headerSubject img{
        height: 85vh;
        width: auto;
    }
    .headerSubject{
        bottom: -2%!important;
    }
    .headerTitle h1{
        font-size: 55px;
    }
    .headerTitle{
        top:40% !important;
        z-index: 1 !important;
    }
}

/* 
    ##Device = Anything bigger than Smartphone screen
    ##Screen = 576px
*/
@media (min-width: 576px){
    .project-title{
        margin-left: 20% ;
        margin-right: 20% ;
    }
    .tools-used{
        margin-left: 20% ;
        margin-right: 20% ;
    }
}