/* Global css */
body, html{
background-color:#1d1d1d; 
height: 100%;
font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: #D7D7D9;
}
a, p{
    color: #D7D7D9;
}
.hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1); }

.bgSize-auto{
    background-size: auto !important;
}
.bgPos-right{
    background-position: right !important;
}
.bgPos-bottom{
    background-position: bottom !important;
}
.bgPos-left{
    background-position: left !important;
}
.bgPos-top {
    background-position: top !important;
}
.div-clickable{
    width: 100%;
    height: 100%;
}
/* Navbar */
.nav-custom{
    /* margin-top: 20px; */
}
.fixed-top.scrolled {
    background-color: #4a4a4a!important;
    transition: background-color 500ms ease;
}
/* Header */
.header{
    overflow: hidden;
    margin: 0%;
}
.headerBg {
    background-size: cover;
    background-repeat: no-repeat; 
    transform: scale(1.1);
}
@media (max-width: 1199.98px) {
    .headerBg {
        background-position: top center !important;
    } 
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(38,38,38);
    background: -moz-linear-gradient(180deg, rgba(38,38,38,0.9023984593837535) 0%, rgba(60,63,64,0) 50%);
    background: -webkit-linear-gradient(180deg, rgba(38,38,38,0.9023984593837535) 0%, rgba(60,63,64,0) 50%);
    background: linear-gradient(180deg, rgba(38,38,38,0.9023984593837535) 0%, rgba(60,63,64,0) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#262626",endColorstr="#3c3f40",GradientType=1);
}
.headerSubject {
    width: 100%;
    top: auto !important;
}
.headerSubject img{
    text-align: center;
    margin: auto;
    display: block;
    height: auto;
    width: 360px;
}
.headerTitle {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    top: 30% !important;
    z-index: 0;
}

.headerTitle h1{
    font-weight: 700;
}

/* Text */
.heading-section h1{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Featured Projects */
.project-block {
    display: block;
    width: 100%;
    height: 400px;
    margin-bottom: 0;
    background-position: center;
    z-index: 0;
    position: relative; 
    overflow: hidden;
}
.project-block:hover{
    cursor: pointer;
}
.project-block:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #000;
    opacity: 0;
    z-index: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; 
}
@media (prefers-reduced-motion: reduce) {
    .project-block:after {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; 
    } 
}
.project-block .text span {
    color: rgba(255, 255, 255, 0.9);
 }
.project-block h2 {
    color: #fff;
    line-height: 1.2;
    font-size: 18px; 
}
.project-block h2 a {
    color: #fff; 
}
.project-block .desc {
    z-index: 1; 
}
.project-block .icon {
    position: absolute;
    /* top: 50%;
    right: 50%; */
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
    /* -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
    margin-top: -70px; */
    opacity: 0;
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s; 
}
.project-block:hover .icon
{
    color: #fff;
}
@media (prefers-reduced-motion: reduce) {
    .project-block .icon {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; 
    } 
}
.project-block:hover:after {
    opacity: .5; 
}
.project-block:hover .icon {
    opacity: 1; 
}
.project-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(38,38,38);
    background: -moz-linear-gradient(0deg, rgba(38,38,38,1) 0%, rgba(74,74,74,0.10407913165266103) 70%);
    background: -webkit-linear-gradient(0deg, rgba(38,38,38,1) 0%, rgba(74,74,74,0.10407913165266103) 70%);
    background: linear-gradient(0deg, rgba(38,38,38,1) 0%, rgba(74,74,74,0.10407913165266103) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#262626",endColorstr="#4a4a4a",GradientType=1);
}
/* 
    ##Device = Larger desktop screens
    ##Screen = 2000px and up
*/
@media (min-width: 2000px) {
    .headerTitle h1{
        font-size: 250px;
    }
    .headerSubject img{
        width: 400px;
    }
    .headerSubject{
        bottom: -1%!important;
    }
}
/* 
    ##Device = Large Laptops, Desktops
    ##Screen = B/w 1520px to 1920px
*/
@media (min-width: 1520px) and (max-width: 1920px) {
    .headerTitle h1{
        font-size: 200px;
    }
    .headerSubject{
        bottom: -2%!important;
    }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 600px to 1500px
*/
@media (min-width: 600px) and (max-width: 1500px) {
    .headerTitle h1{
        font-size: 100px;
    }
    .headerSubject{
        bottom: -2%!important;
    }
    .headerSubject img{
        width: 240px;
    }
    .heading-section h1{
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen =576px
*/
@media (max-width: 576px) {
    .headerSubject img{
        height: 85vh;
        width: auto;
    }
    .headerSubject{
        bottom: -2%!important;
    }
    .headerTitle h1{
        font-size: 55px;
    }
    .headerTitle{
        top:40% !important;
        z-index: 1 !important;
    }
}
