body, html{
    background-color:#d1d1d1; 
    height: 100%;
}

/* header */
.header{
    height: 100vh;
}
.fill {
    width: 100%;
    height: inherit;
    object-fit: cover;
}
.headerBg{
    position: relative;
}
.headerSubject{
    position: absolute;
    display: inline-block;
    bottom: 0%;
    left: 50%;
    margin-left: -230px;
    width: auto;
}

@media only screen and (max-width: 600px){
    .headerSubject {
        position: absolute;
        display: inline-block;
        bottom: 0%;
        margin: auto;
        width: 100%;
        left: 0%;
    }
}