/* Global css */
body, html{
background-color:#262626; 
height: 100%;
font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: #D7D7D9;
}

/* header */
.header{
    /* width: 100vw; */
    height: 100vh;
    overflow: hidden;
    margin: 0%;
}
.headerBg img {
    transform: scale(1.01);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2); /*dim the background*/
}
.headerSubject {
  width: 100%;
  top: auto !important;
}
.headerSubject img{
    text-align: center;
    margin: auto;
    display: block;
    height: auto;
    width: 360px;
}
.headerTitle {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    top: 25% !important;
}

.headerTitle h1{
    font-size: 200px;
    font-weight: 700;
    letter-spacing: 20px;
}


/* 
    ##Device = Large desktop screens
    ##Screen = 2000px and up
*/
@media (min-width: 2000px) {
    .headerSubject{
        bottom: -2%!important;
    }
}
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1500px to 1920px
*/
@media (min-width: 1500px) and (max-width: 1920px) {
    .headerTitle {
        top: 18% !important;
    }
    .headerTitle h1{
        font-size: 300px;
        /* padding: 10%; */
    }
    .headerSubject{
        bottom: -2%!important;
    }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 600px to 1500px
*/
@media (min-width: 600px) and (max-width: 1500px) {
    .headerTitle {
        top: 15% !important;
    }
    .headerSubject{
        bottom: -2%!important;
    }
    .headerSubject img{
        width: 240px;
    }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 200px to 600px
*/
@media (min-width: 200px) and (max-width: 600px) {
    .headerSubject{
        bottom: -35%!important;
    }
    .headerSubject img{
        width: 95%;
    }
    .headerTitle h1{
        font-size: 90px;
        font-weight: 700;
        letter-spacing: 5px;
    }
}